img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Main_wrap__260iu {
  display: block;
}

img.Image__Zoom ~ div {
  background: transparent !important;
}
figcaption {
  align-items: center;
  text-align: center;
  line-height: 1.4;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', Geneva, Arial, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

div.Image__Small {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 0;
  margin: 15px auto 15px;
  border-radius: 5px;
  width: 100%;
  max-width: 680px;
  @media (max-width: 620px) {
    margin: 10px auto 10px;
  }
  @media (max-width: 1070px) {
    max-width: 507px;
  }

  @media (max-width: 960px) {
    max-width: 486px;
    margin: 0 auto 15px;
  }

  @media (max-width: 780px) {
    padding: 0 20px;
  }
}
.Image__Container {
  text-align: center;
}
img.Image__With-Shadow {
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.15);
}
div.Image__Medium {
  position: relative;
  margin: 15px auto 15px;
  width: 100%;
  max-width: 1004px;
  @media (max-width: 960px) {
    border-radius: 0;
    margin: 0 auto 10px;
    img {
      border-radius: 0;
    }
  }
}
div.Image__Large {
  position: relative;
  width: 100vw;
  margin: 25px auto 25px;
  pointer-events: none;
  img {
    border-radius: 0;
  }
  @media (max-width: 960px) {
    margin: 0 auto 25px;
  }
}

.image-container {
  &__left {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    @media (max-width: 780px) {
      width: 100%;
    }
  }
  &__right {
    display: inline-block;
    width: 46%;
    @media (max-width: 780px) {
      width: 100%;
    }
  }
}
