.SubscriptionForm {
  display: flex;
  flex-direction: column;

  color: #2a2a2a;

  padding: 0rem;

  h4 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .Wrapper {
    display: flex;
    flex-direction: row;
  }

  input {
    color: #2a2a2a;
    background-color: #ced4da;
    width: 50%;
    border: none;
  }

  input {
    padding: 1rem 1.5rem;
  }

  button {
    display: inline-block;
    padding: 12px;
    border: none;
    background-image: none;
    background-color: #343a40;
    color: #fffdfc;
    margin-left: 30px;

    letter-spacing: 1px;
    transition: all 0.1s linear;

    &:hover {
      cursor: pointer;
      background: darken(#343a40, 5%);
    }
  }
}
